<div class="container w-50">
  <div class="card mt-4">
    <div class="login-form mx-4 my-4">
      <form autocomplete="off" [formGroup]="editProfileForm" (ngSubmit)="updateProfile()">
        <h2 class="text-center" style="color: #FF615A;">Edit Profile</h2>
        <hr>

        <!--Email-->
        <div class="form-group">

          <input type="text" class="form-control" [ngClass]="{'is-invalid': editProfileForm.get('email').errors
                 && editProfileForm.get('email').touched}" formControlName="email" placeholder="Email" [(ngModel)]="user.email">
          <div class="invalid-feedback">Please insert an email</div>
        </div>

        <!--FirstName-->
        <div class="form-group">

          <input type="text" class="form-control" [ngClass]="{'is-invalid': editProfileForm.get('firstName').errors
                 && editProfileForm.get('firstName').touched}" formControlName="firstName" placeholder="First Name" [(ngModel)]="user.firstName">
          <div class="invalid-feedback">Please insert the first name</div>
        </div>

        <!--LastName-->
        <div class="form-group">

          <input type="text" class="form-control" [ngClass]="{'is-invalid': editProfileForm.get('lastName').errors
                 && editProfileForm.get('lastName').touched}" formControlName="lastName" placeholder="Last Name" [(ngModel)]="user.lastName">
          <div class="invalid-feedback">Please insert the last name</div>
        </div>

        <!--Designation-->
        <div class="form-group">

          <input type="text" class="form-control" [ngClass]="{'is-invalid': editProfileForm.get('designation').errors
                 && editProfileForm.get('designation').touched}" formControlName="designation" placeholder="Designation" [(ngModel)]="user.designation">
          <div class="invalid-feedback">Please insert the designation</div>
        </div>        
        
        <div class="form-group">
          <div class="row">
            <div class="col-3"><label class="control-label">
              <b>Change profile Image</b>
            </label></div>
            <div class="col-md-5">
              <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
              <button type="button" class="btn btn-primary" (click)="file.click()">Upload</button>
            </div>
            <div class="col-md-4">
              <span class="upload" *ngIf="progress > 0">
                {{progress}}%
              </span>
              <span class="upload" *ngIf="message">
                {{message}}
              </span>
            </div>
          </div>          
        </div>
        
        <div class="form-group text-center">
          <button class="btn btn-success mt-4 mr-2 w-25" [disabled]="!editProfileForm.valid" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>